*,*::before,*::after{
    box-sizing: border-box;
}


body{
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculater-grid{
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4,5rem);
    grid-template-rows: minmax(7rem,auto) repeat(5,5rem);


}

.calculater-grid>button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(255, 255,255,.75);
    border-radius: 5%;
}


.calculater-grid>button:hover,
.calculater-grid>button:focus{
    background-color: rgb(255, 255,255,.9);

}

.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .70);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 2%;


}

.output .previous-operand{
    color: rgba(255, 255, 255, 0.742);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;

}